<footer>
  <p>
    Some icons are from
    <a href="https://thenounproject.com/">Noun Project</a>, licensed under CC BY
    3.0.
  </p>
  <p>
    Used icons:
    <a href="https://thenounproject.com/icon/calendar-861179/"
      >"Calendar" by Thengakola</a
    >,
    <a href="https://thenounproject.com/icon/location-7963512/"
      >"Location" by Jaya99</a
    >,
    <a href="https://thenounproject.com/icon/pencil-4525114/"
      >"Pencil" by Saepul Hahwan</a
    >.
  </p>
</footer>
