<section id="about-me">
  <h2>ABOUT ME</h2>
  <h3>하루하루 꾸준히 성장하는 개발자, 김제율입니다.</h3>
  <ul>
    <li>
      <img
        src="images/calendar.png"
        alt="Calendar icon"
        width="50"
        height="50"
      />
      생년월일 | 2007. 03. 14.
    </li>
    <li>
      <img
        src="images/location.png"
        alt="location icon"
        width="50"
        height="50"
      />
      위치 | 경기도 의왕시
    </li>
    <li>
      <img src="images/pencil.png" alt="pencil icon" width="50" height="50" />
      학력 | 중졸
    </li>
  </ul>
</section>
